table {
    width: 100%;
    margin: 10px 10px auto
  }
  
  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
    margin: 50px 50 px auto
  } */
  .filter{
    margin:10px;
    font-size: 14px;
    width: 50%;
  }

  /* ::ng-deep input.mat-input-element {
    color: tomato;
  } */
  
  
  /* Change label color on focused */
  /* ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
  } */
  
  /* underline border color on focused */
  /* ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
  } */