mat-accordion{
    margin:10px 10px auto
}
.header{
    color:#3dcd58;
    font-weight: bold;
    font-family: Helvetica;
    justify-content: center;
}
span{
    display:inline-block;
    width: 200px; 
}

.capitalize {
    text-transform: capitalize;
 }
 .course{
     text-align: center;
 }

 .mat-stroked-button{
     margin-right: 10px;
 }