<mat-toolbar color = "primary" class="tabbar-primary">
    <mat-toolbar-row>
          <h1>Online Course Portal</h1>
        <a mat-button (click)="navigateToUrl('/user-info')"><mat-icon>home</mat-icon></a>
        <a mat-button (click)="navigateToUrl('/allCourses')">All Courses</a>
        <span *ngIf="!isAdmin">
            <a mat-button (click)="navigateToUrl('allCourses/enrollCourses')">Enrolled Courses</a>
        </span>
        <span class="example-fill-remaining-space"></span>
        <a class="menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="More">
            <mat-icon>more_vert</mat-icon>
        </a>
</mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changePassword()">
      <span>Change Password</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logOut()">
        <span>Log out</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="aboutOnlinePortal()">
        <span>About</span>
    </button>
    <mat-divider></mat-divider>
</mat-menu>
<app-loading *ngIf="isLoading"></app-loading>
  


  